html, body {
    height: 100%;
    margin: 0;
}

body {
    color: white;
    background: #0d0f14;
    display: flex;
    padding: 16px;        /* space around everything */
    box-sizing: border-box;
}

.sidebar, .main {
    background: #151922;
    border-radius: 16px;
    border: 1px solid #303c5a;
    padding: 16px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 15vw;
}

.main {
    width: 100%;
    margin-left: 16px;
}

.sidebar-btn {
    border: none;
    background-color: #151922;
    margin-bottom: 16px;
    color: white;
    border-radius: 8px;
    width: 100%;
    height: 50px;
    font-size: medium;
}

.sidebar-btn:hover {
    cursor: pointer;
    background-color: #272f41;
}

.sidebar-btn-active {
    background-color: #363c4b;
    color: rgb(248, 255, 188);
}

.main-display {
    border: none;
    display: flex;
    flex: 1;
    height: 100%;
    width: 100%;
}

.separator {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    flex: 1;
}